matplotlib==3.3.1
tqdm==4.51.0
numpy==1.21.2
h5py==3.4.0
open3d==0.13.0
plyfile==0.7.4
termcolor==1.1.0
torchnet==0.0.4
visdom==0.1.8.9
PyYAML --install-option="--ignore-installed"
lie_learn
tensorboardX
pynvrtc
joblib
trimesh[easy]
pysnooper
scikit-learn
trimesh
monty
git+https://github.com/QiangZiBro/s2cnn
