matplotlib
tqdm
numpy
h5py
open3d
plyfile
termcolor
torchnet
visdom
PyYAML --install-option="--ignore-installed"
lie_learn
tensorboardX
pynvrtc
joblib
trimesh[easy]
pysnooper
scikit-learn
trimesh
monty
git+https://github.com/QiangZiBro/s2cnn
